{# rental/templates/rental/car_list.html #}
{% load static %}
<!DOCTYPE html>
<html>
<head> …your head… </head>
<body>
  <div class="container my-5">

    <!-- 1) Filter form goes here -->
  <!-- rental/templates/rental/car_list.html -->

<form method="get" class="row g-2 mb-4">
    <div class="col">
      {{ form.make.label_tag }}
      {{ form.make }}
    </div>
    <div class="col">
      {{ form.model.label_tag }}
      {{ form.model }}
    </div>
    <div class="col">
      {{ form.price_min.label_tag }}
      {{ form.price_min }}
    </div>
    <div class="col">
      {{ form.price_max.label_tag }}
      {{ form.price_max }}
    </div>
    <div class="col d-grid">
      <button type="submit" class="btn btn-primary">Filter</button>
    </div>
  </form>
  